<div class="row">
  <div class="carousel-inner">
    <carousel>
      <slide>
        <div class="item active">
          <img src="http://placehold.it/1200x400/16a085/ffffff&text=Sobre Nós">
          <div class="carousel-caption">
            <h3>Organize conosco</h3>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injected humour, or randomised words which don't look even slightly believable.
            </p>
          </div>

        </div>
      </slide>

      <slide>
        <div class="item active">
          <img src="http://placehold.it/1200x400/e67e22/ffffff&text=Eventos">

          <div class="carousel-caption">
            <h3>Eventos Técnicos</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s.
            </p>
          </div>
        </div>
      </slide>

      <slide>
        <div class="item active">
          <img src="http://placehold.it/1200x400/16a085/ffffff&text=Ganhe dinheiro">

          <div class="carousel-caption">
            <h3>Venda seus Eventos</h3>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout.
            </p>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</div>